<!DOCTYPE html>
<html>
 <head>
  <title>Gambler Tracker Database</title>
 </head>
 <body>
   <div class="main_header">
    <div><header><a href="/" id="head">Gambler Tracker Database</a></header></div>
    <div class="menu">
    	<button>Menu</button>
    	<div class="menu_links">
    		  <a href="/">Index</a>
    		  <a href="/Dealers">Dealers</a>
              <a href="/Tables">Tables</a>
              <a href="/Games">Games</a>
              <a href="/Game_types">Game Types</a>
              <a href="/Supervisors">Supervisors</a>
              <a href="/Qualifications">Qualifications</a>
              <a href="/Game_search">Search Games</a>
              <a href="/Edit_Game_Types">Edit Game Type</a>
              <a href="/Dealer_Search">Search Dealers</a>
              <a href="/Edit_Qualifications">Edit Qualifications</a>
              <a href="/Edit_Dealers">Edit Dealers</a>
              <a href="/Edit_Supervisors">Edit Supervisors</a>
    	</div>
    </div>
   </div>
      <div class="top_container">
        <div class="list_container">
          <!--Section for individual tables-->
          <h2>Main</h2>
            <ul class="tables_list">
              <li><a href="/Dealers">Dealers</a></li>
              	<ul>
              		<li>Insert new dealer into Database.</li>
              		<li>View existing dealers.</li>
              	</ul>
              <li><a href="/Tables">Tables</a></li>
                <ul>
              		<li>Insert new table into Database.</li>
              		<li>View existing tables.</li>
              	</ul>
              <li><a href="/Games">Games</a></li>
                <ul>
              		<li>Insert new game into Database.</li>
              		<li>View existing games.</li>
              	</ul>
              <li><a href="/Game_types">Game Types</a></li>
                <ul>
              		<li>Insert new game type into Database.</li>
              		<li>View existing game types.</li>
              	</ul>
              <li><a href="/Supervisors">Supervisors</a></li>
                <ul>
              		<li>Insert new supervisor into Database.</li>
              		<li>View existing supervisors.</li>
              	</ul>
              <li><a href="/Qualifications">Qualifications</a></li>
                <ul>
              		<li>Insert new qualification into Database.</li>
              		<li>View existing qualifications.</li>
              	</ul>
            </ul>
        </div>

        <div class="list_container games_container">
          <!--Section for relationships-->
          <h2>Game Information</h2>
            <ul class="tables_list">
              <li><a href="/Game_search">Search Games</a></li>
                <ul>
              		<li>Search game information inside database.</li>
              	</ul>
              <li><a href="/Edit_Game_Types">Edit Game Type Information</a></li>
                <ul>
              		<li>Update existing game type information.</li>
              		<li>Delete existing game type information.</li>
              	</ul>
            </ul>
        </div>
      </div>

        <div class="list_container">
          <!--Section for relationships-->
          <h2>Dealer and Supervisor Information</h2>
            <ul class="tables_list">
              <li><a href="/Dealer_Search">Search Dealers</a></li>
                <ul>
              		<li>Search for dealer information inside Database.</li>
              	</ul>
              <li><a href="/Edit_Qualifications">Edit Dealer's Qualification Status</a></li>
                <ul>
                    <li>Insert additional dealer qualifications.</li>
              		<li>Update existing dealer qualification status.</li>
              		<li>Delete existing dealer qualification status.</li>
              	</ul>
              <li><a href="/Edit_Dealers">Edit Dealer's Information</a></li>
                <ul>
              		<li>Update existing dealer information.</li>
              		<li>Delete existing dealer information.</li>
              	</ul>
              <li><a href="/Edit_Supervisors">Edit Supervisor's Information</a></li>
                <ul>
              		<li>Update supervisor information.</li>
              		<li>Delete supervisor information.</li>
              	</ul>
            </ul>
        </div>

 </body>
</html>
