<!DOCTYPE html>
<html>
 <head>
  <title>Qualifications</title>
 </head>
 <body>

 <div class="main_header">
    <div><header><a href="/" id="head">Gambler Tracker Database</a></header></div>
    <div class="menu">
      <button>Menu</button>
      <div class="menu_links">
          <a href="/">Index</a>
          <a href="/Dealers">Dealers</a>
              <a href="/Tables">Tables</a>
              <a href="/Games">Games</a>
              <a href="/Game_types">Game Types</a>
              <a href="/Supervisors">Supervisors</a>
              <a href="/Qualifications">Qualifications</a>
              <a href="/Game_search">Search Games</a>
              <a href="/edit_game_types">Edit Game Type</a>
              <a href="/Dealer_Search">Search Dealers</a>
              <a href="/Edit_Qualifications">Edit Qualifications</a>
              <a href="/Edit_Dealers">Edit Dealers</a>
              <a href="/Edit_Supervisors">Edit Supervisors</a>
      </div>
    </div>
   </div>

  <div class="table_container">
    <h2>Add Qualification:</h2>
    <form method="POST">
        <label for="qualification_name">Qualification Name:</label>
        <input type="text" id="qualification_name"><br>
        <label for="qualification_difficulty">Difficulty (1 min to 10 max):</label>
        <input type="number" id="qualification_difficulty" min="1" max="10"><br>
        <button type="button" id="addQualification" class="buttons">Add Qualification</button>
    </form>
  </div>

  <div class="table_container">
    <table id="table">
      <h2>Qualifications:</h2>
        <thead>
          <tr>
            <th>Qualification ID</th>
            <th>Qualification Name</th>
            <th>Difficulty</th>
          </tr>
        </thead>
        <tbody id="tableBody">
          </tbody>
          {{#each rows}}
          <tr>
            <td>{{qualification_ID}}</td>
            <td>{{qualification_name}}</td>
            <td>{{qualification_difficulty}}</td>
          </tr>
          {{/each}}
      </table>
  </div>

 </body>
</html>
