<!DOCTYPE html>
<html>
 <head>
  <title>Supervisors</title>
 </head>
 <body>

 <div class="main_header">
    <div><header><a href="/" id="head">Gambler Tracker Database</a></header></div>
    <div class="menu">
      <button>Menu</button>
      <div class="menu_links">
          <a href="/">Index</a>
          <a href="/Dealers">Dealers</a>
              <a href="/Tables">Tables</a>
              <a href="/Games">Games</a>
              <a href="/Game_types">Game Types</a>
              <a href="/Supervisors">Supervisors</a>
              <a href="/Qualifications">Qualifications</a>
              <a href="/Game_search">Search Games</a>
              <a href="/edit_game_types">Edit Game Type</a>
              <a href="/Dealer_Search">Search Dealers</a>
              <a href="/Edit_Qualifications">Edit Qualifications</a>
              <a href="/Edit_Dealers">Edit Dealers</a>
              <a href="/Edit_Supervisors">Edit Supervisors</a>
      </div>
    </div>
   </div>

  <div class="table_container">
    <h2>Add Supervisor:</h2>
    <form method="POST">
        <label for="supervisor_fname">First Name:</label>
        <input type="text" id="supervisor_fname"><br>
        <label for="supervisor_lname">Last Name:</label>
        <input type="text" id="supervisor_lname"><br>
        <button type="button" id="addSupervisor" class="buttons">Add Supervisor</button>
    </form>
  </div>

  <div class="table_container">
    <table id="table">
      <h2>Supervisors:</h2>
        <thead>
          <tr>
            <th>Supervisor ID</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </thead>
        <tbody id="tableBody">
          </tbody>
          {{#each rows}}
          <tr>
            <td>{{supervisor_ID}}</td>
            <td>{{supervisor_fname}}</td>
            <td>{{supervisor_lname}}</td>
          </tr>
          {{/each}}
      </table>
  </div>

 </body>
</html>
