<!DOCTYPE html>
<html>
 <head>
  <title>Tables</title>
 </head>
 <body>
 <div class="main_header">
    <div><header><a href="/" id="head">Gambler Tracker Database</a></header></div>
    <div class="menu">
      <button>Menu</button>
      <div class="menu_links">
          <a href="/">Index</a>
          <a href="/Dealers">Dealers</a>
              <a href="/Tables">Tables</a>
              <a href="/Games">Games</a>
              <a href="/Game_types">Game Types</a>
              <a href="/Supervisors">Supervisors</a>
              <a href="/Qualifications">Qualifications</a>
              <a href="/Game_search">Search Games</a>
              <a href="/edit_game_types">Edit Game Type</a>
              <a href="/Dealer_Search">Search Dealers</a>
              <a href="/Edit_Qualifications">Edit Qualifications</a>
              <a href="/Edit_Dealers">Edit Dealers</a>
              <a href="/Edit_Supervisors">Edit Supervisors</a>
      </div>
    </div>
   </div>
    
    <div class="table_container">
    <h2>Add Table:</h2>
    <form method="POST">
      <label for="floor">Floor:</label>
      <input type="number" min="1" max="5" id="floor"><br>
      <input type="submit" value="Add Table" id="addTable" name="insert" class="buttons">
    </form>
    </div>

    <div class="table_container">
      <table id="table">
        <h2>Tables:</h2>
          <thead>
            <tr>
              <th>Table ID</th>
              <th>Floor</th>
            </tr>
          </thead>
          <tbody id="tableBody">
  	      </tbody>
            {{#each rows}}
            <tr>
              <td>{{table_ID}}</td>
              <td>{{floor}}</td>
            </tr>
            {{/each}}
        </table>
    </div>

	
  <script src="/scripts/tables.js"></script>
 </body>
</html>
