<!DOCTYPE html>
<html>
 <head>
  <title>Update Supervisors</title>
 </head>
 <body>
 <div class="main_header">
    <div><header><a href="/" id="head">Gambler Tracker Database</a></header></div>
    <div class="menu">
      <button>Menu</button>
      <div class="menu_links">
          <a href="/">Index</a>
          <a href="/Dealers">Dealers</a>
          <a href="/Tables">Tables</a>
              <a href="/Games">Games</a>
              <a href="/Game_types">Game Types</a>
              <a href="/Supervisors">Supervisors</a>
              <a href="/Qualifications">Qualifications</a>
              <a href="/Game_search">Search Games</a>
              <a href="/edit_game_types">Edit Game Type</a>
              <a href="/Dealer_Search">Search Dealers</a>
              <a href="/Edit_Qualifications">Edit Qualifications</a>
              <a href="/Edit_Dealers">Edit Dealers</a>
              <a href="/Edit_Supervisors">Edit Supervisors</a>
      </div>
    </div>
   </div>
    <div class="table_container">
    <h2>Update:</h2>
    <form method="GET">
      {{#each supervisor}}
      <label for="supervisor_fname">First Name:</label>
      <input type="text" id="supervisor_fname" value="{{supervisor_fname}}"><br>
      <label for="supervisor_lname">Last Name:</label>
      <input type="text" id="supervisor_lname" value="{{supervisor_lname}}"><br>
      <button type="button" id="updateButton" value="{{supervisor_ID}}" class="buttons">Update</button>
      {{/each}}
      <button type="button" id="cancelButton" class="buttons">Cancel</button>
    </form>
    </div>

 </body>
</html>
